body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    background-position: center;
    
}
.darkened-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('healthy.jpg');
}

  
  
  .container {
    width: 60%;
    margin: 100px auto;
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Shadow effect */
}
  
  
  h1 {
    color: #333;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  
  p {
    color: #333;
    line-height: 1.6;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  }
  p{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
}

    
